# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories, forgot to delete venv
# so had to run this command git rm -r --cached venv
venv/
ENV/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# VS Code settings
.vscode/

# Token and credential files
token.json
client_secret_*.json
progress.json

# macOS system files
.DS_Store
